<h1>
  <h1>
    <h1> Hello World</h1>
    <button (click)="getPet1()"> Fetch Pet</button>
    <br/>


    <!--Very basic autosuggest layout based on the heroes tutorial-->
    <!--<input #term (keyup)="getLocation(term.value)"/>
    <ul>
      <li *ngFor="let item of items | async">{{item.label}}</li>
    </ul>-->

    <!--Datalist option did not work seamlessley for autosuggest-->
    <!--<input #term (keyup)="getLocation1(term.value)" list="locations">
  <datalist id="locations">
    <option *ngFor="let item of items | async" value="{{item.label}}"> 
  </datalist>-->


    <!--{{root.petfinder.pet.id}}-->
    <!--{{pet}}-->
  </h1>
  <br/>
  <!--<button (click)="getPetObject()"> Fetch Pet Object</button>-->
</h1>

    <div class="input-wrapper">
      <!--<input type="text" class="autosuggest"> <input type="submit" value="Search">-->
      <input #term (keyup)="getLocation(term.value)" class="autosuggest" />

      <div class="dropdown">
        <ul class="result">
          <li *ngFor="let item of items | async">{{item.label}}</li>
        </ul>

      </div>
    </div>