<!--<div style="display:table">
  <div style="display:table-row">
    <div style="display:table-column">
      <input #term (keyup)="getLocation(term.value, $event)" class="form-control" [(ngModel)]="location" placeholder="Enter Location"
        type="text" style="width:50px" />
    </div>
    <div style="display:table-column">
      <button (click)="findPets()" class="btn-secondary"> Find Pets</button>
    </div>
  </div>
</div>-->
<br/>
<div>
  <div>
    <div class="left">
      <input #term (keyup)="getLocation(term.value, $event)" class="form-control" [(ngModel)]="location" placeholder="Enter Location "
        type="text" />
      <div class="dropdown">
        <ul class="result">
          <li *ngFor="let item of items | async" (click)="onLocationSelect(item)">{{item.label}}</li>
        </ul>
      </div>
    </div>
    <div class="right">
      <button (click)="findPets()" class="btn-secondary"> Find Pets</button>
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<!---->

<!--<div class="people-nearby">-->
  <div class="nearby-user">
    <div *ngFor="let pet of pets" class="row">
      <div class="col-md-2 col-sm-2">
        <img src="{{pet.media.photos.photo[3].content}}" alt="pet" class="profile-photo-lg" />
      </div>
      <div class="col-md-7 col-sm-7">
        <h5><a class="profile-link" [routerLink]="['/pet', pet.id]">{{pet.name}}</a></h5>
        <p>{{pet.breeds.breed}}</p>
        <p class="text-muted">500m away</p>
      </div>
      <div class="col-md-3 col-sm-3">
        <button class="btn btn-primary pull-right">Pet Mi</button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
<!--</div>-->

<!--<div>
    <div *ngFor="let pet of pets" class="gallery">
      <img src={{pet.media.photos.photo[3].content}} alt="Fjords" width="300" height="200">
      <div class="desc">{{pet.name}}</div>
    </div>
    <br/>
</div>-->